<title th:fragment="descrizione" th:text="${carburante.descrizione}">AutoManager Modifica</title>
<div th:fragment="content">
	<h1>Modifica Dati Carburante</h1>
	<form action="#" th:action="@{/admin/carburante}" th:object="${carburante}" method="post">
		<div class="alert alert-warning" role="alert" th:if="${messaggio}" th:text="${messaggio} "></div>
		<div class="form-group">
		    <label for="id" th:text="'Id: ' + *{id}">Id</label>
		    <input type="hidden" th:field="*{id}" />
		</div>
		
		<div class="form-group">
		    <label for="marca">Descrizione</label>
		    <input type="text" class="form-control" th:field="*{descrizione}" />
		</div>
		
		<input class="btn btn-default" type="submit" value="invia" />
		
		<hr />
		<a href="/admin/carburanti">Ritorna alla lista carburanti</a>
	</form>
	<hr />
</div>