<title th:fragment="title">AutoManager</title>
<div th:fragment="content">
	<div class="container">
		<h1>Pannello di Controllo</h1>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="/admin/veicoli">Veicoli</a>
				</h3>
			</div>
			<div class="panel-body">
				<span id="numeroVeicoli">carico le informazioni...</span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="/admin/marche">Marche</a>
				</h3>
			</div>
			<div class="panel-body" id="numeroMarche">carico le informazioni...</div>
		</div>
	</div>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="/admin/modelli">Modelli</a>
				</h3>
			</div>
			<div class="panel-body" id="numeroModelli">carico le informazioni...</div>
		</div>
	</div>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="/admin/carburanti">Carburanti</a>
				</h3>
			</div>
			<div class="panel-body" id="numeroCarburanti">carico le informazioni...</div>
		</div>
	</div>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="/admin/users">Utenti</a>
				</h3>
			</div>
			<div class="panel-body" id="numeroUtenti">carico le informazioni...</div>
		</div>
	</div>	
</div>
<script th:fragment="script" src="" th:src="@{/js/adminHome.js}"></script>
<script th:fragment="script" src="" th:src="@{/js/autoManagerTools.js}"></script>