<title th:fragment="title">AutoManager</title>
<div th:fragment="content">
  <h1>Marche</h1>	<a class="btn btn-primary" href="marca/new" style="float:right">Nuova Marca</a>
	<hr />
	<br />
	<table id="tabella" class="table table-striped table-bordered" style="margin-top:30px">
		<thead>
			<tr>
			 	<th>Id</th>
				<th>Marca</th>
				<th>Azioni</th>
			</tr>
		</thead>
		<tbody id="marche"></tbody>
	</table>
</div>
<script th:fragment="script" src="" th:src="@{/js/opzioni.js}"></script>
<script th:fragment="script" src="" th:src="@{/js/marca.js}"></script>
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>