<title th:fragment="descrizione" th:text="${users.username}">AutoManager Modifica</title>
<div th:fragment="content">
	<h1>Modifica Utente</h1>
	<form action="#" th:action="@{/admin/users}"
		th:object="${users}" method="post">
		<div class="alert alert-warning" role="alert" th:if="${messaggio}"
			th:text="${messaggio} "></div>
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" th:field="*{username}" />
 			<input type="hidden" id="oldusn" name="oldusn" th:value="*{username}"/>	
		</div>
		<div class="form-group">
			<label for="ruolo">Ruolo</label> 
			<select class="form-control" id="ruolo" name="ruolo">
				<option th:each="ruolo : ${ruoli}" th:value="${ruolo.descrizione}"
					th:text="${ruolo.descrizione}"></option>
			</select>
		</div>		
		<div class="form-group">
			<label for="email">Email</label> <input type="text"
				class="form-control" th:field="*{email}" />
		</div>
		<div class="form-group alert alert-warning">
			<input type="checkbox" th:field="*{enabled}" th:checked="${true}" />		
			<label for="enabled">Abilita</label>
		</div>
		<div class="form-group alert alert-danger">
			<input type="checkbox" id="resetpw" name="resetPW"/>		
			<label for="resetpw">Reset della Password</label>
		</div>
		<input class="btn btn-default" type="submit" value="invia" />
		<hr />
		<a href="/admin/userslist">Ritorna alle lista utenti</a>
	</form>
	<hr />
</div>
<script th:fragment="script" src="" th:src="@{/js/usersEdit.js}"></script>
<script th:fragment="script" src="" th:src="@{/js/autoManagerTools.js}"></script>