<title th:fragment="descrizione" th:text="${users.username}">AutoManager Modifica</title>
<div th:fragment="content">
	<h1>Modifica Utente</h1>
	<form action="#" th:action="@{/admin/users}"
		th:object="${users}" method="post">
		<div class="alert alert-warning" role="alert" th:if="${messaggio}"
			th:text="${messaggio} "></div>
		<div class="form-group">
			<label for="password">Username</label> <input type="text"
				class="form-control" th:field="*{username}" />
		</div>
		<div class="form-group">
			<label for="password">Password</label> <input type="password"
				class="form-control" th:field="*{password}" />
		</div>
		<div class="form-group">
			<label for="ruolo">Ruolo</label> 
			<select class="form-control" id="ruolo" name="ruolo">
				<option th:each="ruolo : ${ruoli}" th:value="${ruolo.descrizione}"
					th:text="${ruolo.descrizione}"></option>
			</select>
		</div>		
		<div class="form-group">
			<label for="marca">Email</label> <input type="text"
				class="form-control" th:field="*{email}" />
		</div>
		<div class="form-group">
			<label for="enabled">Abilitato</label>
				<input type="checkbox" th:field="*{enabled}" th:checked="${true}" />
		</div>
		<input class="btn btn-default" type="submit" value="invia" />
		<hr />
		<a href="/admin/userslist">Ritorna alle lista utenti</a>
	</form>
	<hr />
</div>
<script th:fragment="script" src="" th:src="@{/js/usersEdit.js}"></script>
<script th:fragment="script" src="" th:src="@{/js/autoManagerTools.js}"></script>