<title th:fragment="title">AutoManager</title>
<div th:fragment="content">
	<div class="container">
		<div class="alert alert-success" role="alert" th:if="${messaggio}"
			th:text="${messaggio} "></div>
		<div th:each="veicolo : ${veicoli}" class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="/admin/marche" th:text="${veicolo.targa}">Targa</a>
				</h3>
			</div>
			<div class="panel-body">

				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default btn-lg ">
						<a th:href="@{/user/rifornimento/new(veiId=${veicolo.id})}">Rifornimento</a>
					</button>
					<button type="button" class="btn btn-default btn-lg ">
						<a th:href="@{/user/cambiogomme/new(veiId=${veicolo.id})}">Cambio
							gomme</a>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>