
<div th:fragment="content">

	<form action="#" th:action="@{/user/rifornimento/new}"
		th:object="${rifornimento}" method="post">
		<!-- 		<div class="alert alert-warning" role="alert" th:if="${messaggio}" th:text="${messaggio} "></div> -->

		<h3
			th:text="${veicolo.modello.marca.descrizione}+' '+ ${veicolo.modello.descrizione}"></h3>

		<div class="form-group">
			<label for="km">Km</label> <input type="text" class="form-control"
				th:field="*{km}" />
		</div>

		<div class="form-group">
			<label for="litri">Litri</label> <input type="text"
				class="form-control" th:field="*{litri}" />
		</div>

		<div class="form-group">
			<label for="costo">Costo</label> <input type="text"
				class="form-control" th:field="*{costo}" />
		</div>

		<input class="btn btn-default" type="submit" value="invia" />

	</form>

</div>
