<title th:fragment="title" th:text="${article.title}">ESEMPIO</title>
<div th:fragment="content">
	<h1>Modifica articolo</h1>
	<form action="#" th:action="@{/article}" th:object="${article}" method="post">
		<div class="form-group">
		    <label for="id">Id:</label>
		    <input type="text" class="form-control" th:field="*{id}" disabled="disabled" /> <input type="hidden" th:field="*{id}" />
		</div>
		
		<div class="form-group">
		    <label for="title">Titolo:</label>
		    <input type="text" class="form-control" th:field="*{title}" />
		</div>
		
		<div class="form-group">
		    <label for="content">Contenuto:</label>
		    <textarea rows="5" class="form-control" th:field="*{content}"></textarea>
		</div>
		
		<input class="btn btn-default" type="submit" value="invia" />
		
		<hr />
		<a href="/">Ritorna agli articoli</a>
	</form>
	<hr />

</div>