<title th:fragment="title">AutoManager</title>
<div th:fragment="content">
  <h1>Veicoli</h1>
	<hr />
	<form class="form-inline" role="form" style="float:left">
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-search"></span>
				</div>
				<input class="form-control" id="filter" />
			</div>
			<button id="search" class="btn btn-default">cerca</button>
		</div>
	</form>
	<a class="btn btn-primary" href="veicolo/new" style="float:right">Nuovo veicolo</a>
	<br />
	<table class="table table-bordered table-striped table-hover" style="margin-top:30px">
		<thead>
			<tr>
			 	<th>Id</th>
				<th>Targa</th>
				<th>Marca</th>
				<th>Modello</th>
				<th>Carburante</th>
				<th>Azioni</th>
			</tr>
		</thead>
		<tbody id="veicoli"></tbody>
	</table>
</div>
<script th:fragment="script" src="" th:src="@{/js/carburanti.js}"></script>
<script th:fragment="script" src="" th:src="@{/js/main.js}"></script> 